.DS_Store
.env

*.log
*.m4a
*.pcm
*.tmp

/bin2c
/news_identifier
/news_identifier_tests
/news_mixer_control
/news_mixer_control_tests
/silencer
/silencer_tests
/skipper
/skipper_tests
/tensor-gen
/hls_radio6music_noNews/
/test_audio/
/downloads/
